<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <title>Get Payment</title>
</head>
<body>
    <h1 class="text-center text-danger m-3">Get Payment</h1>
    <div class="container">
       <div class="row text-center">
        <form action="" method="post">
            <div class="col-sm-4 offset-4">
                <input type="text" class="form-control mt-2" name="name" placeholder="Enter the Name">
                <input type="text" class="form-control mt-2" name="phone" placeholder="Enter the Phone">
                <input type="text" class="form-control mt-2" name="city" placeholder="Enter the City">
                <input type="text" class="form-control mt-2" name="address" placeholder="Enter the Address">
                <input type="number" class="form-control mt-2" value="25" name="payment" >
            </div>
            <button class="btn btn-danger mt-2" type="submit">Order Now</button>
        </form>
       </div>
    </div>
</body>
</html>